<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	 <listener>
	    <listener-class>
		  	com.listener.OpenConnectListener
		</listener-class>
	 </listener>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>WEB-INF/log4j.properties</param-value>
	</context-param>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>backmgmod.root</param-value>
	</context-param>
	<servlet>
		<servlet-name>ManagerServlet</servlet-name>
		<servlet-class>com.traffic.servlet.ManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerServlet</servlet-name>
		<url-pattern>/ManagerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ErrorListServlet</servlet-name>
		<servlet-class>com.traffic.servlet.ErrorListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ErrorListServlet</servlet-name>
		<url-pattern>/ErrorListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmailServlet</servlet-name>
		<servlet-class>com.traffic.servlet.EmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmailServlet</servlet-name>
		<url-pattern>/EmailServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>initServlet</servlet-name>
		<servlet-class>com.traffic.servlet.initServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>initServlet</servlet-name>
		<url-pattern>/initServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>initServlet</welcome-file>
	</welcome-file-list>
</web-app>